<div class="<%= user.id == message.user_id ? 'row justify-content-end' : 'row justify-content-start' %>">
  <% unless current_user.id == message.user_id %>
    <%= gravatar_for(message.user, size: 30) %>
  <% else %>
    <span class='time'><%= localtime(message.created_at) %></span>
  <% end %>
  <div>
    <div data-message-id="<%= message.id %>" class="<%= user.id == message.user_id ? 'message-sent' : 'message-received' %>">
      <%= message.content %>
    </div>
    <span class="time collapse" data-message-id="<%= message.id %>">Seen at <%= localtime(message.created_at) %></span>  
  </div>
  <% if current_user.id == message.user_id %>
    <%= gravatar_for(current_user, size: 30) %>
  <% else %>
    <span class='time'><%= localtime(message.created_at) %></span>
  <% end %>
</div>