<div class="my-container">
  <section id="team" class="section team">
    <div class="container">
      <header class="section-heading">
        <h2>Number of friend:
          <%= User.friend_num(@relationships) %></h2>
      </header>

      <div class="section-content">
        <div class="row">
          <% @relationships.each do |relationship| %>
          <% if relationship.status > 1 %>

          <div class="col-sm-3 lborder rborder">

            <!-- team-member's-bio -->
            <div class="team-bio">
              <figure>
                <div style="text-align: center">
                  <% if relationship.user_one_id == @user.id %>
                    <%= gravatar_for(relationship.user_two)%>
                  <% else %>
                    <%= gravatar_for(relationship.user_one)%>
                  <% end %>
                </div>

              </figure>
              <div class="team-description">
                <% if relationship.user_one_id == @user.id %>
                <div class="member-name"><%= relationship.user_two.name %></div>
              <% else %>
                <div class="member-name"><%= relationship.user_one.name %></div>
                <% end %>
                <div class="designation">From:
                  <%= relationship.created_at.strftime("%d/%m/%Y") %></div>
              </div>

              <div class="team-social">
                <%= render 'friend_form' %>
              </div>

            </div>

          </div>
          <% end %>
          <% end %>
          <!-- col-sm-4 -->
        </div>
        <!-- row -->
      </div>
      <!-- section-content -->
    </div>
    <!-- container -->
  </section>
</div>
